<div class="subtitle-container">
    <h1 class="subtitle-text" [innerHTML]="title">
    </h1>
    <div fileDrop
        class="drop-container"
        [ngClass]="{'file-is-over': fileIsOver}"
        [options]="options"
        (fileOver)="fileOver($event)"
        (onFileDrop)="onFileDrop($event)">
        Drop SRT file here
    </div>
    <div class="control-panel">
        <h1 class="clock">{{clock}}</h1>
        <div id="slider"></div>
        <button (click)="togglePlayback()">Play/Pause</button>
    </div>
</div>
